@import './colors.scss';

button,
.button {
  border-width: 1px;
  border-color: $pale-aqua-color;
  width: 100%;
  height: 70px;
  background: transparent;
  font-size: 40px;
  cursor: pointer;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:active {
    background: $white-color;
  }
}
